<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.edu.liulian.reams.mapper.PicMapper">
  <resultMap id="BaseResultMap" type="com.xupt.edu.liulian.reams.pojo.Pic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="greenhouse_id" jdbcType="INTEGER" property="greenhouse_id" />
    <result column="newhouse_id" jdbcType="INTEGER" property="newhouse_id" />
    <result column="renthouse_id" jdbcType="INTEGER" property="renthouse_id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, greenhouse_id, newhouse_id, renthouse_id, type, imgurl
  </sql>
  <select id="selectByExample" parameterType="com.xupt.edu.liulian.reams.pojo.PicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xupt.edu.liulian.reams.pojo.Pic" useGeneratedKeys="true">
    insert into pic (greenhouse_id, newhouse_id, renthouse_id, 
      type, imgurl)
    values (#{greenhouse_id,jdbcType=INTEGER}, #{newhouse_id,jdbcType=INTEGER}, #{renthouse_id,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xupt.edu.liulian.reams.pojo.Pic" useGeneratedKeys="true">
    insert into pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="greenhouse_id != null">
        greenhouse_id,
      </if>
      <if test="newhouse_id != null">
        newhouse_id,
      </if>
      <if test="renthouse_id != null">
        renthouse_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="greenhouse_id != null">
        #{greenhouse_id,jdbcType=INTEGER},
      </if>
      <if test="newhouse_id != null">
        #{newhouse_id,jdbcType=INTEGER},
      </if>
      <if test="renthouse_id != null">
        #{renthouse_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xupt.edu.liulian.reams.pojo.Pic">
    update pic
    <set>
      <if test="greenhouse_id != null">
        greenhouse_id = #{greenhouse_id,jdbcType=INTEGER},
      </if>
      <if test="newhouse_id != null">
        newhouse_id = #{newhouse_id,jdbcType=INTEGER},
      </if>
      <if test="renthouse_id != null">
        renthouse_id = #{renthouse_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xupt.edu.liulian.reams.pojo.Pic">
    update pic
    set greenhouse_id = #{greenhouse_id,jdbcType=INTEGER},
      newhouse_id = #{newhouse_id,jdbcType=INTEGER},
      renthouse_id = #{renthouse_id,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>